:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-text-color: #2196F3;
    --second-text-color:#FFFFFF;
    --second-backgraund-color:#F5F4FA;
    --fill-color-icons: #AFB1B8;
}

body {
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img{
    display: block;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
ul,
p{
    margin: 0;
    padding: 0;
}

p{
    color: var(--primary-text-color);
}

/* Шапка*/

.header{
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}

.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
}

.navigation > .nav-logo{
    margin-right: 68px;
}

.nav-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.header-logo{
    font-family: 'Raleway';
    color: var(--link-text-color);
}

.nav-list,
.contact-list{
    display: flex;
    align-items: center;
}

.nav-link,
.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list .contact-link{
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav-link{
    display: flex;
    align-items: center;
    color: var(--title-text-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--link-text-color);
}

.contact-link:hover,
.contact-link:focus{
    color: var(--link-text-color);
}
.header-icons{
    fill: var(--primary-text-color);
    margin-right: 10px;
}

.contact-link:hover .header-icons,
.contact-link:focus .header-icons{
    fill: var(--link-text-color);
}

.nav-item:not(:last-child){
    margin-right: 50px;
}

.contact-item:not(:last-child){
    margin-right: 30px;
}

.current .nav-link{
    color: var(--link-text-color);
}

.current .nav-link::after{
    position: absolute;
    bottom: -28px;
    left: 0;
    display: inline-block;
    content: "";
    height: 4px;
    width: 100%;
    color: var(--link-text-color);
    background-color: var(--link-text-color);
    border-radius: 2px;
}


/*Основной контент*/

.section{
    padding: 94px 0;
}

.main-header{
    background-color: #2F303A;
    text-align: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-header{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-repeat: no-repeat;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)), url(../images/hat.jpg);
}

.title-hero{
    color: var(--second-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;;
    padding-bottom: 30px;
}


/*Особенности*/

.main-features{
    padding-top: 94px;
}

.features-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.features-item{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);
}   

.features-item::before{
    display: block;
    content: "";
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--second-backgraund-color);
    margin-bottom: 30px;
}

.features-item:nth-child(1)::before{
    background-image: url("../images/antenna.svg");
}

.features-item:nth-child(2)::before{
    background-image: url("../images/clock.svg");
}

.features-item:nth-child(3)::before{
    background-image: url("../images/diagram.svg");
}

.features-item:nth-child(4)::before{
    background-image: url("../images/astronaut.svg");
}

.features-icons{
    width: 70px;
    height: 70px;
}

.features-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*Чем мы занимаемся*/

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.work-list{
    display: flex;
    justify-content: space-between;
}

.work-item{
    position: relative;
}

.type-work{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
}

.type-work-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
}

/*Команда*/

.section-team{
    background-color: var(--second-backgraund-color);
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.team-item{
    flex-basis: calc(100% / 4 - 30px);
    background-color: var(--second-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}

.team-content{
    padding: 30px 32px;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.name-direction {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.networks-list{
    display: inline-flex;
}

.networks-item:not(:last-child){
    margin-right: 10px;
}

.networks-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    background-color: var(--second-text-color);
    border-radius: 50%;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icons{
    fill: var(--fill-color-icons);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link:hover,
.networks-link:focus{
    background-color: var(--link-text-color);
}

.networks-link:hover .networks-icons,
.networks-link:focus .networks-icons{
    fill: var(--second-text-color);
}

/*Постоянные клиенты*/

.clients-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -30px;
    margin-top: -30px;
}

.clients-item{
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.clients-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border-radius: 4px;
    border: 1px solid var(--fill-color-icons);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon{
    fill: var(--link-text-color);
}

.clients-link:hover,
.clients-link:focus{
    border: 1px solid var(--link-text-color);
}

.clients-icon{
    fill: var(--fill-color-icons);
    height: 90px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Подвал*/
footer{
    background:#2F303A;
    padding: 60px 0;
}

.footerbox{
    display: flex;
    align-items: baseline;
}

.footer-logo {
    color: var(--second-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-address{
    color: var(--second-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 9px;
}

.footer-contact-item{
    margin-bottom: 9px;
}

.footer-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--second-text-color);
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
}

.works-header, .team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.footer-widget{
    margin-right: 30px;
    width: 270px;
}


.footer-link{
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-icons{
    fill: var(--second-text-color);
}

/*Портфолио*/

.main-portfolio-content{
    padding: 94px 0;
}

.menu-navigation{
    padding-bottom: 50px;
}

.porfolio-navigation{
    display: flex;
    justify-content: center;
}

.main-portfolio{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.main-port-item{
    box-sizing: border-box;
    width: 370px;
    flex-basis: calc(100%/3 - 30px);
    border: 1px solid #EEEEEE;
    margin-top: 30px;
    margin-left: 30px;
}

.main-port-wrap{
    position: relative;
    overflow: hidden;
}

.description-content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 250ms, transform 250ms;
    transform: translateY(100%);
}

.description-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.main-port-link:hover .description-content,
.main-port-link:focus .description-content {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 250ms, transform 250ms;
}


.main-port-item:hover,
.main-port-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-item-text{
    padding: 20px 24px;
}

.porfolio-header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    
    color: var(--title-text-color);
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/*button*/

button:hover,
button:focus{
    background: var(--link-text-color);
    color: var(--second-text-color);
}

.main-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background: var(--link-text-color);
    color: var(--second-text-color); 
    
    border: 0;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;   
}

.button-slice{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    
    background: var(--second-backgraund-color);
    color: var(--title-text-color);
    border: 0;
    padding: 6px 22px;
    border-radius: 4px;
    margin-left: 8px;
}

.button-slice:hover,
.button-slice:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*модальное окно*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: all 250ms linear;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--second-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 250ms linear;
}

.close-button{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--second-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}